---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a developer that is passionate by learning and coding, with total 8 year experience, being
    5 years focused on fullstack development with Typescript.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Junior developer at Globalsoft"
      subtitle="From 01/06/2015 to 31/05/2016 at Globalsoft, Araçatuba, Brazil"
    >
      I've started working at Globalsoft, a company that provides GS Gestor, a complete ERP for local businesses.
    </TimeLineElement>
    <TimeLineElement
      title="Senior developer at IBL"
      subtitle="From 01/06/2016 to current date at IBL, Araçatuba, Brazil"
    >
      I've started working at IBL long ago as a junior developer, but I've learned much since and now I'm a senior software engineer.
      See <b><i><a href="/projects">projects</a></i></b>.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Domine o Javascript (Udemy)
    </li>
    <li>
      Aplicações Web com Angular 4 (Udemy)
    </li>
    <li>
      Javascript do Futuro - ES6/7/Webpack2/Typescript (Udemy)
    </li>
    <li>
      ES6 Javascript: The Complete Developer's Guide (Udemy)
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>NodeJS</li>
    <li>Typescript</li>
    <li>Angular</li>
    <li>Vue</li>
    <li>React</li>
    <li>TailwindCSS</li>
    <li>REST</li>
    <li>GraphQL</li>
    <li>SQL</li>
    <li>Firebase</li>
    <li>MongoDB</li>
    <li>PostgresSQL</li>
    <li>Supabase</li>
    <li>SurrealDB</li>
  </ul>
</BaseLayout>
