---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Vítor Barbieri</div>
    <div class="text-3xl py-3 font-bold">Software Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        I've been working as a professional developer for <b>more than 8 years</b>. I
        have <b>5 years</b> experience with <b>Angular/Vue/React</b> and <b>Node.js</b>, with also
        wide experience on <b>SQL/NoSQL</b> databases and cloud services like <b>AWS/GCP</b>.
        My strongest point is versatility: I have deep knowledge of front-end
        and back-end technologies, being abe to work at any part of any project
        with ease.
      </text>
      <p class="text-lg">
        Currently I'm looking for <b>freelance job</b> opportunities.
      </p>
      <div class="mt-6">
        <p class="mt-2">
          <img
            src="https://skillicons.dev/icons?i=js,ts,nodejs,c,cpp"
            alt="languages and frameworks"
          />
        </p>

        <p class="mt-2">
          <img
            src="https://skillicons.dev/icons?i=aws,gcp,express,graphql,apollo,postgresql,mysql,mongodb,firebase,supabase"
            alt="languages and frameworks"
          />
        </p>

        <p class="mt-2">
          <img
            src="https://skillicons.dev/icons?i=html,css,angular,vue,react,flutter,tailwind,sass,"
            alt="languages and frameworks"
          />
        </p>
      </div>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/vitorthedev/" target="_blank">
        Let's connect!</a
      >
      <!-- <a
        href="https://github.com/manuelernestog/astrofy"
        target="_blank"
        class="btn btn-outline ml-5"
      >
        Get This template
      </a> -->
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Fila Online"
    img="/fila.webp"
    desc="Queue management system that shows your queue position in realtime. Made with Angular, NodeJS and Firebase."
    url="https://filaonlineapp.com.br"
  />
  <div class="divider my-0"></div>
  <!-- <HorizontalCard
    title="Tkron"
    img="/tkron.webp"
    desc="Complete clothing industry management app and dashboard. Has production control, chronometry and human resources. Made with Angular, NodeJS and Firebase."
    url="https://www.tkron.net"
  /> -->
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Agenda Online"
    img="/agenda.webp"
    desc="Complete scheduling app that includes user booking by link. Made with Vue, NodeJS and Supabase."
    url="https://onlineagenda.com.br"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Pager Online"
    img="/pager.webp"
    desc="Pager app for food halls and fast food. Notifies the user when the order is ready. Made with React, NodeJS and SurrealDB."
    url="#"
    badge="NEW"
  />


</BaseLayout>
