---
import {getLangFromUrl, useTranslations} from '../i18n/utils.js';

const lang = getLangFromUrl(Astro.url);
const languageUrl = getLangFromUrl(Astro.url) === 'en' ? '' : `/${lang}`;
const t = useTranslations(lang);

const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href={languageUrl+'/'}>{t('nav.Home')}</a></li>
    <li><a class="py-3 text-base" id="projects" href={languageUrl+'/projects'}>{t('nav.Projects')}</a></li>
    <li><a class="py-3 text-base" id="cv" href={languageUrl+'/cv'}>{t('nav.CV')}</a></li>
    <li>
        <a
            class="py-3 text-base"
            href="https://www.linkedin.com/in/vitorthedev/"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">{t('nav.Contact')}</a
        >
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
